<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">
      <img src="/Logo.png" alt="GoAPP Logo" class="logo-img">
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent"
      aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0 align-items-center">
        <ng-container *ngIf="user$ | async as user; else guest">
          <li class="nav-item">
            <span class="navbar-text me-3">{{ user.email }}</span>
          </li>

          <li class="nav-item" *ngIf="router.url !== '/admin/proyectos'">
            <a class="nav-link" routerLink="/admin/proyectos">
              Gestionar Proyectos
            </a>
          </li>

          <li class="nav-item">
            <button class="btn btn-icon-logout" (click)="logout()" title="Salir">
              <i class="material-icons">logout</i>
            </button>
          </li>
          </ng-container>
        <ng-template #guest>
          <li class="nav-item">
            <a class="nav-link" (click)="login()" routerLink="/login">Iniciar sesión</a>
          </li>
        </ng-template>
      </ul>
    </div>
  </div>
</nav>